.popup, .popup * {
    box-sizing: content-box;
}

.popup {
    position: absolute;
    left: calc(0.25 * var(--square-size));
    right: 0;
    top: 0;
    bottom: calc(0.25 * var(--square-size));
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    width: 50%;
    min-height: 12.5%;
    background: var(--square-light);
    position: absolute;
    border: 8px solid var(--square-light);
    box-shadow: 0 0 0 8px black;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 10%;
}

.promotion-choices {
    height: 12.5%;
}

.promotion-choices .piece {
    width: 25%; 
    height: 100%; 
    border: 1px solid black;
    cursor: pointer;
}

.promotion-choices .piece:hover {
    box-shadow: 0 0 0 5px black inset;
    transform: scale(1.05);
}

.promotion-choices :is(.wq, .bq) {
    left: 0;
}

.promotion-choices :is(.wr, .br) {
    left: 25%;
}

.promotion-choices :is(.wb, .bb) {
    left: 50%;
}

.promotion-choices :is(.wn, .bn) {
    left: 75%;
}