.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
    width: 20%;
    background-color: #000000;
}

.logo {
    color: #FFFFFF;
}

.navigation {
    display: flex;
    flex-direction: column;
    gap: 50px;
}