.profile-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.username {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    width: 100px;
    height: 100px;
}